body {
    color: white;
    max-width: 800px;
    text-align: center;
}

header {
    background-color: blue;
    height: 30px;
}


ul {
    display: flex;
    background-color: green;
    justify-content: space-between;
    height: 25px;
}

a {
    color: white;
}

.main {
    display: flex;
}

article {
    flex:2;
    background-color: pink;
    height: 150px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

section {
    background-color: brown;
    height: 50px;
    width: 100%;
    margin: auto;
    text-align: center;
}

aside {
    flex: 1;
    background-color: cyan;
}

footer {
    background-color: green;
    height: 25px;
}