body {
    max-width: 800px;
    text-align: center;
    color: white;
}
header {
    background: blue;
    text-align: center;
    height: 30px;
}
nav, footer {
    background: green;
    height: 25px;
}

article {
    width: 67%;
    height: 150px;
    background: pink;
    text-align: top;
}

section {
    background: brown;
    height: 50px;
}

aside {
    width: 33%;
    background: cyan;
    height: 150px;
}

li {
    display: inline;
    text-align: left;
}

ul {
    text-align: left;
}
a {
    color: white;
    text-align: left;
    padding: 10px;
}

a:hover {
    color: blue;
}